@model UploadImageOnServer.Models.Brand

@{
    ViewBag.Title = "AddImage";
}

<h2>AddImage</h2>


@using (Html.BeginForm("AddImage","Home",FormMethod.Post,new{enctype="multipart/form-data"})) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Image Upload Section Here...</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.BrandImage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
              <input type="file" id="image1" name="image1"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-danger" />
            </div>
        </div>
        <div class="form-group">
            @if (ViewBag.Message != null)
            {
                <h1>@ViewBag.Message </h1>
            }
            else
            {
                <h1>@ViewBag.Success</h1>
            }
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
